{
    "interval": 60, 
    "gplus_user_id": "gplus_user_id",
    "last_post_id": "last_post_id",
    "facebook_extended_token": "facebook_extended_token"
    "facebook_extended_token_time": 123456789,
    "facebook_extended_token_flag": 0
}
